.icon {
    font-size: 2em;
    opacity:0.6;
}

.label-file {
    cursor: pointer;
}

.icon-username {
    cursor: pointer;
    font-size: 2em;
    opacity:0.6;
    padding-left: 10px;
}

.username {
    padding-left: 10px;
}

.cover-photo {
    height: 270px;
    width: 100%;
}